.home {
    height: 100vh;
}

header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text>h3:first-child {
    font-weight: 200;
    font-size: 3rem;
    color: var(--secondColor);
}

.welcome-text>h3:nth-child(2) {
    font-weight: 600;
    font-size: 4rem;
    background: -webkit-linear-gradient(45deg, var(--gradientColor), var(--gradientColor), var(--mainColor));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-text>h3:nth-child(3) {
    font-weight: 300;
    font-size: 2rem;
    color: var(--secondColor);
}

@media (max-width: 992px) {
    header {
        justify-content: space-between;
    }

    .welcome-text>h3:first-child {
        font-size: 2rem;
    }

    .welcome-text>h3:nth-child(2) {
        font-size: 3rem;
    }

    .welcome-text>h3:nth-child(3) {
        font-size: 1.5rem;
    }
}

.image>img {
    width: 350px;
    border-radius: 50%;
    background: linear-gradient(white, white) padding-box, linear-gradient(0deg, var(--gradientColor), var(--mainColor)) border-box;
    border: 7px solid transparent;
}

@media (max-width: 768px) {
    header {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 1rem;
    }

    .image>img {
        width: 250px;
    }
}