.contact {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}

.contact>.container>h6:nth-child(2) {
    margin-top: 70px;
}

.contact>.container>h4,
.contact>.container>h6 {
    text-align: center;
}

.contact>.container>.mail {
    font-weight: 600;
    font-size: 2rem;
    background: -webkit-linear-gradient(45deg, var(--gradientColor), var(--gradientColor), var(--mainColor), var(--mainColor));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.contact>.container>.mail::selection {
    background-color: rgba(0, 0, 0, 30%);
}
.contact>.container>h6:nth-of-type(1),
.contact>.container>h6:nth-of-type(2),
.contact>.container>h6:nth-of-type(3) {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--secondColor);
}

.contact>.container>.contact-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.contact-form>input[type="email"],
.contact-form>textarea,
.contact-form>input[type="submit"] {
    padding: 15px 12px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}

.contact-form>input[type="email"],
.contact-form>textarea {
    border: 1px solid #42446e38;
    color: var(--secondColor);
    caret-color: var(--gradientColor);
}

.contact-form>textarea {
    resize: none;
}

.contact-form>input[type="email"]:focus-visible,
.contact-form>textarea:focus-visible {
    border: 1px solid var(--gradientColor);
    outline: none;
}

.contact-form>input[type="email"]::placeholder,
.contact-form>textarea::placeholder {
    font-weight: 400;
    font-size: .8rem;
}

.contact-form>input[type="submit"] {
    align-self: center;
    cursor: pointer;
    background-color: var(--mainColor);
    color: #FFF;
    font-size: 1rem;
    transition: var(--transition-time);
    letter-spacing: 2px;
}

.contact-form>input[type="submit"]:hover {
    background-color: #01a1d3;
}

@media (max-width: 992px) {
    .contact>.container>.mail {
        font-weight: 500;
        font-size: 1.7rem;
    }

    .contact>.container>h6:nth-of-type(1),
    .contact>.container>h6:nth-of-type(2),
    .contact>.container>h6:nth-of-type(3)  {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .contact>.container>.mail {
        font-size: 1.5rem;
    }

    .contact>.container>h6:nth-of-type(1),
    .contact>.container>h6:nth-of-type(2),
    .contact>.container>h6:nth-of-type(3) {
        font-size: .9rem;
    }

    .contact-form>input[type="submit"] {
        font-size: .9rem;
    }

    .contact-form>input[type="email"]::placeholder,
    .contact-form>textarea::placeholder {
        font-size: .7rem;
    }
}