@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --mainColor: #00C0FD;
    /* --mainColor: #191919; */
    --mainColorDarkMode: #191919;
    --secondColor: #42446E;
    /* --secondColor: #CCCCCC; */
    --secondColorDarkMode: #CCCCCC;
    --paragraphColor: #666666;
    /* --paragraphColor: #A7A7A7; */
    --paragraphColorDarkMode: #A7A7A7;
    --gradientColor: #E70FAA;
    --sectionPadding: 70px;
    --transition-time: .2s;
}

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    /* background-color: var(--mainColor); */
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

::selection {
    background-color: var(--secondColor);
    color: var(--mainColor);
}
/* End of Global Rules */


.header-text {
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--secondColor);
    letter-spacing: 2px;
    text-transform: uppercase;
    word-spacing: 4px;
}

@media (max-width: 992px) {
    .header-text {
        font-size: 1.7rem;
    }
}
@media (max-width: 768px) {
    .header-text {
        font-size: 1.5rem;
    }
}


.paragraph-text{
    font-size: 1.2rem;
    color: var(--paragraphColor);
}
@media (max-width: 992px) {
   .paragraph-text{
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
   .paragraph-text{
        font-size: .9rem;
    }
}
